.product-items{
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    .card-product{
        display: flex;
        flex-direction: column;
    }

}