.login-min{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .lgin-left{
        position: relative;
        background-image: url("../../assets/Background\ 5.4.svg");
        background-repeat: no-repeat;
        border-bottom-left-radius: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .login-unicon{
            width: 30%;
    }
        .login-left-about-web-side{
            color: white;
            padding: 10px 70px;
            margin-top: 30px;
            border-radius: 26.37px;
            border: 2.198px solid rgba(255, 255, 255, 0.20);
            h3{
                font-size: 23px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    
    .text-left{
        text-align: left;
    }
    .loin-right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: auto;
        .sign-in-right{
            h3{
                font-size: 30px;
            }
            p{
                color: #A3AED0;
                font-size: 14px;
                margin-bottom: 20px;

            }
            button{
                background-color: #F4F7FE;
                outline: none;
                border: none;
                width: 19rem;
                border-radius: 16px;
                font-size: 15px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                svg{
                    font-size: 24px;
                }
            }
        }
        .login-or{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .login-or p{
            content: ' ';
            border: 1px solid #E0E5F2;
            display: block;
            width: 25%;
            margin: 10px;
        }

        .login-from-input{
            display: flex;
            flex-direction: column;
        }

        .login-from-input{
            text-align: left;
            width: 19rem;
            label{
                font-size: 18px;
                margin-top: 20px;
                
            }
            input{
                width: 93%;
                border-radius: 10px;
                border: 1px solid #E0E5F2;
                height: 2rem;
                padding: 10px;
                margin-top: 20px;


            }
            #p-id1{
                width: 83%;
                padding: 10px 40px 10px 10px !important;

            }
            .icon-of-eye{
                position: absolute;
                top: 68%;
                right: 5%;
                cursor: pointer;
            }
            .input-pass{
                position: relative;
                margin-top: 26px;
            }
            .login-keep{
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                align-items: center;
                
                label{
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    gap: 2px;
                    margin-top: 0;

                }
                input{
                    width: 15px;
                    margin-top: 0;
                }
                p{
                    color: #4318FF;
                }
            }
        }
       
    }

    .go-to-sing-in{
        background-color: #4318FF;
        color: #ffff;
        border: none;
        padding: 12px;
        border-radius: 13px;
        font-size: 15px;
        font-weight: 600;
    }

    .create-new-account{
        span{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            p{
                margin-top: 0;
                color: #4318FF;
            }
        }
    }
}


@media only screen and (min-width: 320px) and (max-width: 520px) {
    .login-min{
        grid-template-columns: 1fr;
        .lgin-left{
        border-bottom-left-radius: 0%;

        }
    }

}

@media only screen and (min-width: 521px) and (max-width: 767px) {
    .login-min{
        grid-template-columns: 1fr;
        .lgin-left{
        border-bottom-left-radius: 0%;

        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992) and (max-width: 1250px) {
}